@media (min-width: 1000px) {
    .dropdown-menu {
        margin-top: 14px;
        top: 100%;
        font-size: 16px;
      }
    
    .dropdown-item {
        margin: 16px 24px;
    }
    

    #start-main-flexbox {
        margin: 96px 70px 24px 70px;
    }

    #dashboard{
        font-size: 24px;

    }
    
    .select-wrapper {
        min-width: 168px;
        position: relative;
    }
    
    select {
        height: 40px;
        font-size: 16px;
    }
    
    .select-wrapper::after {
        font-size: 16px;
    }

    .card {
        height: 100%;
        margin-bottom: 0px; 
    }

    body {
        display: flex;
        flex-direction: column;
        max-height: 100vh;
    }

    .cards-flexbox {
        margin-inline: 70px;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-row-gap: 24px;
        height: calc(100vh - (183px));
        grid-column-gap: 32px;
    }
    
    .card-nachrichten-pro-tag {
        grid-area: 1 / 1 / 4 / 3;
    }

    .card-gesendete-nachrichten {
        grid-area: 4 / 1 / 6 / 2;
    }

    .card-spieleranzahl {
        grid-area: 4 / 2 / 6 / 3;
    }

    .card-pings {
        grid-area: 4 / 2 / 6 / 3;
    }

    .card-aktivität-nach-stunden {
        grid-area: 6 / 1 / 8 / 3;
    }

    .card-aktivität-nach-wochentage{
        grid-area: 6 / 3 / 8 / 5;
    }

    .card-pings {
        grid-area: 4 / 4 / 6 / 5;
    }

    .card-spielerrangliste {
        grid-area: 1 / 3 / 6 / 3;
    } 

    .card-channelrangliste{
        grid-area: 1 / 4 / 4 / 4;
    }
}
